@import url(../materialize/css/materialize.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

ul li,
ol li {
  line-height: 1.5;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote {
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

@media (min-width: 601px) {
  h1 {
    font-size: 4.4rem;
  }
}

@media (min-width: 601px) {
  h2 {
    font-size: 4rem;
  }
}

@media (min-width: 601px) {
  h3 {
    font-size: 3rem;
  }
}

@media (min-width: 601px) {
  h4 {
    font-size: 2.5rem;
  }
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink-dots {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

@keyframes blink-dots {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

* {
  margin: 0;
}

*:focus {
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

strong {
  font-weight: bold;
}

footer-area {
  margin-top: auto;
}

i {
  display: block;
}

.esqalate {
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  color: #626262;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

@media (min-width: 1025px) and (min-height: 769px) {
  .esqalate {
    display: -webkit-flex;
    display: flex;
    min-height: 100vh;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.esqalate a {
  text-decoration: none;
}

.esqalate button {
  border: none;
}

.esqalate svg {
  height: 100%;
  width: 100%;
}

.esqalate ul {
  list-style-type: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.esqalate div.row--center {
  text-align: center;
}

.esqalate .container {
  margin-top: 1rem;
}

.material-tooltip {
  width: 300px;
  font-size: 14px;
  line-height: 20px;
}

.new-conversation-button .material-tooltip {
  width: 300px;
  font-size: 14px;
  line-height: 20px;
}

.spinner-center {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 11;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.preloader-layer .step {
  opacity: 0;
}

.preloader-layer .step i {
  opacity: 0;
}

.preloader-layer .step .dot {
  opacity: 0;
}

.preloader-layer .step-loader {
  color: #F46101;
  margin-bottom: 0;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.preloader-layer .step span.dots {
  opacity: 1;
}

.preloader-layer .step-1 {
  -webkit-animation: blink 1s ease-in-out 3s forwards;
  animation: blink 1s ease-in-out 3s forwards;
}

.preloader-layer .step-1 i {
  -webkit-animation: blink 1s ease-in-out 5s forwards;
  animation: blink 1s ease-in-out 5s forwards;
}

.preloader-layer .step-1 span.dots {
  opacity: 0;
  transition: opacity 1s ease 5s;
}

.preloader-layer .step-1 span.dot {
  -webkit-animation: blink 1s ease-in-out 5s forwards;
  animation: blink 1s ease-in-out 5s forwards;
}

.preloader-layer .step-2 {
  -webkit-animation: blink 1s ease-in-out 6s forwards;
  animation: blink 1s ease-in-out 6s forwards;
}

.preloader-layer .step-2 i {
  -webkit-animation: blink 1s ease-in-out 8s forwards;
  animation: blink 1s ease-in-out 8s forwards;
}

.preloader-layer .step-2 span.dots {
  opacity: 0;
  transition: opacity 1s ease-in-out 8s;
}

.preloader-layer .step-2 span.dot {
  -webkit-animation: blink 1s ease-in-out 8s forwards;
  animation: blink 1s ease-in-out 8s forwards;
}

.preloader-layer .step-3 {
  -webkit-animation: blink 1s ease-in-out 9s forwards;
  animation: blink 1s ease-in-out 9s forwards;
}

.preloader-layer .step-3 i {
  -webkit-animation: blink 1s ease-in-out 10s forwards;
  animation: blink 1s ease-in-out 10s forwards;
}

.preloader-layer .step span.dots span {
  -webkit-animation: blink-dots 1.4s infinite both;
  animation: blink-dots 1.4s infinite both;
}

.preloader-layer .step span.dots span:nth-child(2) {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.preloader-layer .step span.dots span:nth-child(3) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

.preloader-layer .material-icons {
  vertical-align: -6px;
  margin-right: 5px;
}

.proboknow-orange {
  color: #F46101;
}

.lowboknow-orange {
  color: #97B132;
}

a {
  cursor: pointer;
}

.image-blog {
  height: 400px;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  color: white;
}

p {
  margin-bottom: 1.5rem;
}

li {
  margin-bottom: 1rem;
}

.section--tabs {
  background-color: #ffffff;
  padding-bottom: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
}

.section--tabs .row {
  margin-bottom: 0;
}

.section--tabs .indicator {
  display: none;
}

.section--tabs .tabs {
  margin-bottom: -2px;
  background-color: transparent;
  height: auto;
  display: block;
  padding: 3px 3px 0 3px;
  white-space: normal;
  overflow: visible;
}

@media (min-width: 601px) {
  .section--tabs .tabs {
    display: -webkit-flex;
    display: flex;
  }
}

.section--tabs .tabs .tab {
  display: block;
  line-height: 1.2;
  height: auto;
  padding: 2px 2px 0 2px;
  overflow: hidden;
}

.section--tabs .tabs .tab a {
  color: #888888;
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  overflow: visible;
}

.section--tabs .tabs .tab a span {
  position: relative;
  z-index: 2;
}

.section--tabs .tabs .tab a span.new-badge {
  position: static;
}

.section--tabs .tabs .tab a:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #FAFAFA;
  -webkit-filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.15));
  background: linear-gradient(-128deg, transparent 0%, transparent 30px, #FAFAFA 30px, #FAFAFA 100%);
  background: -webkit-linear-gradient(-153deg, transparent 0%, transparent 30px, #FAFAFA 30px, #FAFAFA 100%);
}

@media (min-width: 601px) {
  .section--tabs .tabs .tab a {
    padding: 16px 50px 16px 34px;
  }
}

.section--tabs .tabs .tab a:hover {
  color: #5a5a5a;
}

.section--tabs .tabs .tab a.active {
  background-color: transparent;
  color: #F36102;
  overflow: visible;
}

.section--tabs .tabs .tab a.active:after {
  opacity: 1;
  border-top-left-radius: 17px;
}

.section--tabs-content .content-container {
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 993px) {
  .section--tabs-content .content-container {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}

.section--tabs-content .content-container .right-side,
.section--tabs-content .content-container .left-side {
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
}

.section--tabs-content .content-container.active .right-side,
.section--tabs-content .content-container.active .left-side {
  opacity: 1;
  position: static;
  z-index: auto;
}

.section--tabs span.new-badge:after {
  content: attr(data-badge);
  position: absolute;
  top: -10px;
  right: -20px;
  font-size: 0.8em;
  background: #F36102;
  color: white;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  box-shadow: 0 0 1px #F36102;
}

.left-side {
  margin-bottom: 30px;
}

@media (min-width: 993px) {
  .left-side {
    padding-right: 10px;
    width: 250px;
    margin-bottom: 3rem;
  }
}

@media (min-width: 993px) {
  .right-side {
    padding-left: 10px;
    width: calc(100% - 250px);
  }
}

@media (min-width: 993px) {
  .content-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    min-width: 700px;
  }
}

.collapsible li {
  margin-bottom: 0;
}

.collapsible .material-icons {
  pointer-events: none;
}

.medium-meta {
  font-size: 1.5rem;
  line-height: 1.3;
}

.large-meta {
  font-size: 2rem;
  line-height: 1.3;
}

.fwb {
  font-weight: 600;
}

.fwn {
  font-weight: 400;
}

.pb15 {
  padding: 15px;
}

.read-more {
  cursor: pointer;
  transition: color .6s;
}

.box-transparent-gray {
  border-radius: 10px;
  padding: 1.5rem;
  display: inline-block;
  background-color: rgba(73, 73, 73, 0.8);
}

.action-green {
  background-color: #98B221;
  transition: background-color 0.6s;
}

.action-green:hover {
  background-color: #aecc26;
}

.action-disabled {
  color: #9F9F9F;
  background-color: #DFDFDF;
  pointer-events: none;
  cursor: default;
}

.action-disabled i {
  color: #9F9F9F;
}

.action-orange {
  background-color: #F46101;
  transition: background-color 0.6s;
}

.action-orange:hover {
  background-color: #fe7116;
}

.danger-red {
  background-color: #E57373;
  transition: background-color 0.6s;
}

.danger-red:hover {
  background-color: #ea8d8d;
}

.suggestion-blue {
  background-color: #80d8ff;
  transition: background-color 0.6s;
}

.suggestion-blue:hover {
  background-color: #9fe1ff;
}

ul.list-disc {
  padding-left: 2rem;
}

ul.list-disc li {
  list-style-type: disc;
}

.row--body,
.row--preview {
  line-height: 2;
}

.row--body p, .row--body li,
.row--preview p,
.row--preview li {
  line-height: 2;
}

.reset-values {
  height: auto;
  line-height: 1.2;
  padding: 5px 20px;
  font-size: 1.3rem;
  border-radius: 8px;
  background-color: #98b231;
  color: #ffffff;
}

.reset-values:hover {
  background-color: #afcb41;
}

.reset-values:focus {
  background-color: #afcb41;
}

.reset-values-wrap {
  text-align: right;
  margin-top: 1rem;
}

@media (min-width: 993px) {
  .pb-attorney-cases-page .tap-target-wrapper {
    width: 1090px;
    height: 1090px;
  }
}

@media (min-width: 993px) {
  .lb-attorney-cases-page .tap-target-wrapper {
    width: 1090px;
    height: 1090px;
  }
}

.black-gray {
  background-color: #333333;
  color: rgba(255, 255, 255, 0.87);
}

.black-gray .modal-footer {
  background-color: #333333;
}

.arrow-bounce {
  z-index: 20;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
  text-align: center;
  pointer-events: none;
}

.arrow-bounce i {
  width: 60px;
  display: inline;
  text-align: center;
  color: white;
  font-size: 4rem;
  line-height: 60px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.modal-mail {
  min-width: 650px;
}

.modal-arrow {
  overflow: visible;
}

.modal-arrow .scroll-wrapper {
  overflow: auto;
  max-height: 70vh;
}

.modal-arrow .arrow-bounce {
  display: none;
}

.modal-arrow .arrow-bounce i {
  color: #97B132;
}

.modal-arrow .arrow-bounce.arrow-visible {
  display: block;
}

.modal-arrow.black-gray .arrow-bounce i {
  color: white;
}

.modal-view {
  text-align: center;
}

.modal-view .title-view {
  background-color: #F46101;
  color: white;
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 0;
}

.modal-view .line-bottom {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid grey;
}

.modal-view .forget {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}

.modal-view .forget img[class^="icon"] {
  position: absolute;
  top: 0;
  width: 40px;
}

.modal-view .forget .icon-left {
  left: 0;
}

.modal-view .forget .icon-right {
  right: 0;
}

.desc-popup {
  margin-top: 3rem;
}

.info-title,
.error-item,
.info-item,
.success-item {
  padding-left: 50px;
  position: relative;
}

.info-title i,
.error-item i,
.info-item i,
.success-item i {
  font-size: 4rem;
  position: absolute;
  left: 0;
  top: -5px;
}

.success-icon,
.error-icon {
  font-size: 4rem;
  vertical-align: -12px;
  margin-right: 1rem;
}

.success-icon {
  color: #98B221;
}

.error-icon {
  color: #ED5065;
}

.success-item i {
  color: #97B132;
}

.info-title i,
.info-item i {
  color: #3A8FC8;
}

.error-item i {
  color: #ED5065;
}

.info-item,
.error-item,
.success-item {
  margin: 3rem 0;
}

.lowlight-text {
  color: rgba(98, 98, 98, 0.55);
}

.table {
  background-color: white;
}

.table-main {
  margin: auto;
  background-color: white;
}

.table [align="center"] {
  text-align: center;
  margin: auto;
}

.table [valign="top"] {
  vertical-align: top;
}

.table td[width="35"] {
  width: 35px;
}

.table [width="170"] {
  width: 170px;
}

.table td, .table th {
  padding: 5px 5px;
}

.error-message {
  color: #ED5065;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-60px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.ngxmdp .selector {
  position: relative !important;
}

.row--share-buttons {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 4.5rem 0;
}

.row--share-buttons .share-button {
  margin: 0 10px 0 10px;
  padding: 6px 20px;
  display: -webkit-flex;
  display: flex;
  color: white;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 2rem;
  line-height: 1.2;
  width: 100%;
  margin-bottom: 1.5rem;
}

@media (min-width: 601px) {
  .row--share-buttons .share-button {
    width: auto;
  }
}

.row--share-buttons .share-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.row--share-buttons .share-button img {
  height: 35px;
  margin-right: 8px;
}

.row--share-buttons .share-button--facebook {
  background-color: #3B5998;
}

.row--share-buttons .share-button--linkedin {
  background-color: #0077B5;
}

.no-forget {
  max-width: 580px;
  margin: auto;
  padding: 0 50px;
  position: relative;
}

.no-forget:after, .no-forget:before {
  content: '';
  position: absolute;
  top: 0;
  background: url(https://s3-us-west-1.amazonaws.com/proboknow-lowboknow-storage/cards/forget.png) 0 0 no-repeat;
  width: 40px;
  height: 58px;
}

.no-forget:after {
  left: 0;
}

.no-forget:before {
  right: 0;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: transparent;
}

.pb-home-page .section {
  padding: 5rem 0 5rem 0;
}

.pb-home-page .section .row--title-left {
  text-align: left;
}

.pb-home-page .section .row--title-center {
  text-align: center;
}

.pb-home-page .section--slides {
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

.pb-home-page .section--slides .scroll-button {
  position: absolute;
  padding: 0 5px 0 5px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 20;
  top: 50%;
  color: white;
}

.pb-home-page .section--slides .scroll-button i {
  font-size: 6rem;
}

.pb-home-page .section--slides .scroll-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.pb-home-page .section--slides .next-button {
  right: 0;
  border-radius: 5px 0 0 5px;
}

.pb-home-page .section--slides .prev-button {
  left: 0;
  border-radius: 0 5px 5px 0;
}

.pb-home-page .section--slides ul li {
  font-family: "Lato", sans-serif;
  margin-bottom: 0;
}

.pb-home-page .section--slides ul li .caption {
  top: 35%;
}

.pb-home-page .section--slides ul li .caption h1 {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.7);
}

.pb-home-page .section--slides ul li .caption h1 span {
  padding: 0.5rem 0;
}

@media (min-width: 601px) {
  .pb-home-page .section--slides ul li .caption h1 {
    font-size: 5.4rem;
    line-height: 1.2;
  }
}

.pb-home-page .section--slides ul li .caption button {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1.5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.pb-home-page .section--slides ul li .caption h3 {
  margin-bottom: 1rem;
  margin-top: 4.5rem;
  font-size: 2.4rem;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.pb-home-page .section--slides ul li .caption .slider-action-button {
  background-color: #f46101;
  padding: 16px 30px;
  line-height: 1.2;
  font-size: 1.6rem;
  height: auto;
  border-radius: 5px;
}

.pb-home-page .section--slides ul li .caption .slider-action-button:hover:before {
  opacity: 1;
}

.pb-home-page .section--slides ul li .caption .slider-action-button:before {
  content: '';
  opacity: 0;
  background-color: rgba(254, 148, 77, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity .2s;
  z-index: -1;
}

.pb-home-page .section--slides ul li img {
  width: calc(100% + 100px);
  height: calc(100% + 100px);
  margin-top: -100px;
  -webkit-transform: translate(0px, var(--y));
  transform: translate(0px, var(--y));
}

.pb-home-page .section--about-us img {
  width: 100%;
  margin-bottom: 10px;
}

.pb-home-page .section--about-us h2, .pb-home-page .section--about-us h3 {
  color: #000000;
}

@media (min-width: 601px) {
  .pb-home-page .section--about-us h3 {
    min-height: 56px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}

.pb-home-page .section--about-us h4 {
  margin-bottom: 20px;
}

.pb-home-page .section--about-us p {
  font-size: 1.6rem;
  line-height: 1.5;
}

.pb-home-page .section--about-us .about-us-text .col {
  max-width: 360px;
  float: none;
  margin: 3rem auto;
}

@media (min-width: 601px) {
  .pb-home-page .section--about-us .about-us-text .col {
    max-width: 50%;
    margin: 0;
    float: left;
  }
}

@media (min-width: 993px) {
  .pb-home-page .section--about-us .about-us-text .col {
    max-width: 100%;
    padding: 0 1.75rem;
  }
}

.pb-home-page .section--about-us .about-us-title h2 {
  margin: 0;
  line-height: 1.5;
}

.pb-home-page .section--about-us .about-us-title h3 {
  font-size: 1.8rem;
  color: #4D4D4D;
  line-height: 1.5;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 3rem;
}

.pb-home-page .section--about-us .about-us-title h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 40px;
  height: 2px;
  background: #282828;
}

@media (min-width: 601px) {
  .pb-home-page .section--about-us .about-us-title h3 {
    font-size: 2rem;
  }
}

.pb-home-page .section--about-us .row .about-us-text {
  font-size: 3vmin;
}

.pb-home-page .section--recognitions {
  background-color: #282828;
}

.pb-home-page .section--recognitions img {
  max-width: 100%;
}

.pb-home-page .section--recognitions h2 {
  color: #ffffff;
}

.pb-home-page .section--recognitions .recognitions-logo {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}

.pb-home-page .section--recognitions .recognitions-logo a {
  padding: 10px;
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}

@media (min-width: 601px) {
  .pb-home-page .section--recognitions .recognitions-logo a {
    width: auto;
    max-width: 25%;
    margin-bottom: 0;
  }
}

.pb-home-page .section--recognitions .recognitions-logo .col {
  margin-top: 4.5rem;
}

.pb-home-page .section--how-it-works {
  background-color: white;
}

.pb-home-page .section--how-it-works .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.pb-home-page .section--how-it-works .row--tabs li {
  margin-bottom: 0;
}

.pb-home-page .section--how-it-works .row--tabs .tabs {
  margin-bottom: 50px;
}

.pb-home-page .section--how-it-works .row--tabs .tabs .tab a {
  color: grey;
}

.pb-home-page .section--how-it-works .row--tabs .tabs .tab a.active {
  color: black;
}

.pb-home-page .section--how-it-works .row--tabs .hiw-tab {
  background-color: white;
}

.pb-home-page .section--how-it-works .row--tabs .hiw-tab .hiw-block {
  padding: 1% 3% 1% 3%;
  display: -webkit-flex;
  display: flex;
}

.pb-home-page .section--how-it-works .row--tabs .hiw-tab .hiw-block .left-section {
  padding-right: 3%;
  width: 30%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.pb-home-page .section--how-it-works .row--tabs .hiw-tab .hiw-block .left-section .icon {
  text-align: right;
}

.pb-home-page .section--how-it-works .row--tabs .hiw-tab .hiw-block .left-section .icon img {
  max-width: 100%;
  max-height: 100%;
}

.pb-home-page .section--how-it-works .row--tabs .hiw-tab .hiw-block .right-section {
  padding-left: 3%;
  width: 70%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.pb-home-page .section--how-it-works .row--tabs .hiw-tab .hiw-block .right-section .top-part {
  font-size: 3rem;
  line-height: 2.5rem;
  color: black;
  font-weight: 600;
}

.pb-home-page .section--how-it-works .row--tabs .hiw-tab .hiw-block .right-section .bottom-part {
  margin-top: 5%;
  font-size: 1.5rem;
}

.pb-home-page .section--how-it-works .row--tabs .hiw-tab .hiw-block--button {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 1%;
}

.pb-home-page .section--how-it-works .row--tabs .hiw-tab .hiw-block--button .top-part {
  font-size: 3rem;
  line-height: 2.5rem;
}

.pb-home-page .section--how-it-works .row--tabs .hiw-tab .hiw-block--button .bottom-part {
  margin-top: 5%;
  position: relative;
}

.pb-home-page .section--how-it-works .row--tabs .hiw-tab .hiw-block--button .bottom-part button {
  color: #444444;
  background-color: white;
  border: 2px solid #444444;
  border-radius: 5px;
  font-size: 2rem;
  height: auto;
  line-height: 1.2;
  width: 100%;
  padding: 6px;
}

.pb-home-page .section--how-it-works .row--tabs .hiw-tab .hiw-block--button .bottom-part button:hover {
  color: white;
}

.pb-home-page .section--how-it-works .row--tabs .hiw-tab .hiw-block--button .bottom-part button:hover:before {
  opacity: 1;
}

.pb-home-page .section--how-it-works .row--tabs .hiw-tab .hiw-block--button .bottom-part button:before {
  content: '';
  opacity: 0;
  background-color: rgba(38, 38, 38, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity .2s;
  z-index: -1;
}

.pb-home-page .section .tabs {
  white-space: normal;
  height: auto;
  padding-bottom: 15px;
  display: block;
}

@media (min-width: 601px) {
  .pb-home-page .section .tabs {
    display: -webkit-flex;
    display: flex;
  }
}

.pb-home-page .section .tabs .indicator {
  background-color: #444444;
}

.pb-home-page .section .tabs .tab {
  height: auto;
  line-height: 1.3;
  padding: 0;
  display: block;
  margin-bottom: 1rem;
}

@media (min-width: 601px) {
  .pb-home-page .section .tabs .tab {
    display: inline-block;
    margin-bottom: 0;
  }
}

.pb-home-page .section--faq {
  background-color: white;
}

.pb-home-page .section--faq .row--tabs .tabs .tab a {
  color: grey;
  overflow: visible;
}

.pb-home-page .section--faq .row--tabs .tabs .tab a.active {
  color: black;
}

.pb-home-page .section--faq .row--tabs .faq-tab {
  background-color: white;
}

.pb-home-page .section--faq .row--tab-content .faq-tab li {
  font-size: 1.5rem;
}

.pb-home-page .section--faq .row--tab-content .faq-tab li .collapsible-header {
  line-height: 3rem;
  padding: 1rem;
  color: black;
}

.pb-home-page .section--faq .row--tab-content .faq-tab li .collapsible-body .faq-emphasis {
  font-style: italic;
  font-weight: bold;
}

.pb-home-page .section--faq .row--tab-content .faq-tab li .collapsible-body .faq-emphasis-only-bold {
  font-weight: bold;
}

.pb-home-page .section--faq p {
  font-size: 1.5rem;
}

.pb-home-page h2 {
  color: #000000;
}

@media (min-width: 601px) {
  .pb-home-page h2 {
    font-size: 4.4rem;
    line-height: 1.2;
  }
}

@media (min-width: 601px) {
  .pb-home-page h3 {
    font-size: 2.4rem;
    line-height: 1.2;
  }
}

@media (min-width: 601px) {
  .pb-home-page h4 {
    font-size: 1.8rem;
    line-height: 1.2;
  }
}

.page-header {
  position: fixed;
  left: 0;
  top: 0;
}

.page-header nav {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 20px 0 30px;
  transition: height 1s, background-color 1s;
}

.page-header nav .nav-wrapper .brand-logo {
  font-size: 4rem;
}

.page-header nav .nav-wrapper .brand-logo .proboknow-orange {
  color: #F46101;
}

.page-header nav .nav-wrapper .brand-logo .lowboknow-green {
  color: #98B221;
}

.page-header nav .nav-wrapper .brands {
  height: 100px;
  width: 400px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  transition: height 1s, width 1s;
}

.page-header nav .nav-wrapper .brands .active-brand a {
  font-size: 4rem;
  margin-right: 3rem;
  line-height: 1;
  display: block;
  transition: font-size 1s;
}

.page-header nav .nav-wrapper .brands .active-brand a .proboknow-orange {
  color: #F46101;
}

.page-header nav .nav-wrapper .brands .active-brand a .lowboknow-green {
  color: #98B221;
}

.page-header nav .nav-wrapper .brands .active-brand img {
  height: 34px;
  vertical-align: 4px;
  transition: height 1s;
}

@media (max-width: 1220px) {
  .page-header nav .nav-wrapper .brands .active-brand img {
    height: 20px;
  }
}

.page-header nav .nav-wrapper .brands .sister-brand button {
  background-color: transparent;
  border: 1px solid white;
  height: auto;
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.3rem;
  padding: 4px 8px;
}

@media (max-width: 1220px) {
  .page-header nav .nav-wrapper .brands {
    width: 300px;
  }
}

.page-header nav .nav-wrapper .mobile-brands {
  width: calc(100% - 76px);
  display: inline-block;
  font-size: 4rem;
}

.page-header nav .nav-wrapper .mobile-brands img {
  height: 34px;
  transition: height 1s;
}

.page-header nav .nav-wrapper .mobile-brands .proboknow-orange {
  color: #F46101;
}

.page-header nav .nav-wrapper .mobile-brands .lowboknow-green {
  color: #98B221;
}

.page-header nav .nav-wrapper .right a {
  font-weight: 700;
}

.page-header nav .nav-wrapper a {
  color: white;
  font-size: 1.3rem;
  line-height: 10rem;
  transition: line-height 1s, font-size 1s;
}

.page-header nav .nav-wrapper a i {
  font-size: 4rem;
  line-height: 100px;
  transition: line-height 1s, font-size 1s;
}

.page-header nav .nav-wrapper ul li {
  height: 100px;
}

.page-header nav .nav-wrapper ul li.sign-up-link {
  margin-left: 2.5rem;
}

@media (max-width: 1220px) {
  .page-header nav .nav-wrapper ul li.sign-up-link {
    margin-left: 5px;
  }
}

.page-header nav .nav-wrapper ul li.sign-up-link a {
  color: #F46101;
}

.page-header nav .nav-wrapper ul li.sign-up-link.lowbo-sign-up a {
  color: #97B132;
}

.page-header nav .nav-wrapper ul li a {
  color: white;
}

.page-header nav .nav-wrapper ul li a.menu-item--disabled {
  color: grey;
  cursor: default;
}

.page-header nav .nav-wrapper ul .sign-up-link a {
  padding-right: 0.5rem;
}

.page-header nav .nav-wrapper ul .sign-up-login-separator a {
  padding-left: 0;
  padding-right: 0;
  cursor: none;
}

.page-header nav .nav-wrapper ul .sign-up-login-separator a:hover {
  background-color: rgba(0, 0, 0, 0);
}

.page-header nav .nav-wrapper ul .login-link a {
  padding-left: 5px;
}

.page-header nav .nav-wrapper ul .logout-link .chip {
  background-color: transparent;
  color: white;
  cursor: pointer;
  height: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0;
}

.page-header nav .nav-wrapper ul .logout-link .dropdown-content {
  background-color: #484848;
  box-shadow: none;
  margin-top: 6.4rem;
}

.page-header nav .nav-wrapper ul .logout-link .dropdown-content li {
  margin: 0;
  height: auto;
}

.page-header nav .nav-wrapper ul .logout-link .dropdown-content li:hover, .page-header nav .nav-wrapper ul .logout-link .dropdown-content li.active, .page-header nav .nav-wrapper ul .logout-link .dropdown-content li.selected {
  background-color: #454545;
}

.page-header nav .nav-wrapper ul .logout-link .dropdown-content li a {
  line-height: 3;
}

.page-header nav .nav-wrapper .side-nav {
  z-index: 30;
}

.small-header nav {
  height: 64px;
  background-color: rgba(51, 51, 51, 0.9);
}

.small-header nav .nav-wrapper .brands {
  height: 64px;
  width: 330px;
}

.small-header nav .nav-wrapper .brands .active-brand a {
  font-size: 3rem;
}

.small-header nav .nav-wrapper .brands .active-brand img {
  height: 20px;
}

.small-header nav .nav-wrapper .brands .sister-brand {
  font-size: 1.2rem;
  transition: font-size 1s;
}

.small-header nav .nav-wrapper .mobile-brands img {
  height: 20px;
  vertical-align: 5px;
}

.small-header nav .nav-wrapper a {
  font-size: 1.2rem;
  line-height: 64px;
}

.small-header nav .nav-wrapper a i {
  font-size: 2rem;
  line-height: 64px;
}

.progress-fixed {
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0;
  width: auto;
  margin-top: 0;
}

@media (max-width: 1220px) {
  .header-menu li a {
    padding: 0 8px;
  }
}
