$breakpoints: (
  small:    0px,
  medium:   601px,
  large:    993px,
  xlarge:   1200px,
  xxlarge:  1440px,
);
$bp-header: 1220px;



//font size
$fz13: 1.3rem;
$fz14: 1.4rem;
$fz15: 1.5rem;
$fz16: 1.6rem;
$fz18: 1.8rem;
$fz20: 2rem;
$fz22: 2.2rem;
$fz24: 2.4rem;
$fz25: 2.5rem;
$fz26: 2.6rem;
$fz30: 3rem;
$fz35: 3.5rem;
$fz40: 4rem;
$fz44: 4.4rem;
$fz54: 5.4rem;
$fz90: 9rem;

//line height
$lh-base:   1.5;
$lh20:      4rem;


//space
$space-first:     4.5rem;
$space-second:    3rem;
$space-third:     1.5rem;
$space-fourth:    1rem;
$space-fifth:     2rem;
$space-sixth:     2.5rem;
$space-form:      10rem;
$space-menu:      2.5rem;

//header
$height-header:   6.4rem;

//textarea
$base-height-textarea: 16rem;

//border-radius

$bdrs-base: 1rem;
