.pb-home-page {
  .section {
    padding: 5rem 0 5rem 0;
    .row {
      &--title-left {
        text-align: left;
      }
      &--title-center {
        text-align: center;
      }
    }
    &--slides {
      padding: 0;
      overflow: hidden;
      height: 100vh;
      .scroll-button {
        position: absolute;
        padding: 0 5px 0 5px;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 20;
        top: 50%;
        color: white;
        i {
          font-size: 6rem;
        }
      }
      .scroll-button:hover {
        background-color: rgba(0, 0, 0, 0.6);
      }
      .next-button {
        right: 0;
        border-radius: 5px 0 0 5px;
      }
      .prev-button {
        left: 0;
        border-radius: 0 5px 5px 0;
      }

      ul {
        li {
          font-family: $primary-font;
          margin-bottom: 0;
          .caption {
            top: 35%;
            h1 {
              font-family: $third-font;
              color: $text-color-title;
              font-size: $fz20;
              line-height: 1.2;
              font-weight: 700;
              margin-bottom: $space-third;
              text-transform: uppercase;
              text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.7);
              span {
                padding: 0.5rem 0;
              }
              @include breakpoint(medium) {
                font-size: $fz54;
                line-height: 1.2;
              }
            }
            button {
              font-weight: 700;
              text-transform: uppercase;
              margin-top: $space-third;
              text-shadow: 1px 1px 1px rgba(0,0,0,.2);
            }
            h3 {
              margin-bottom: $space-fourth;
              margin-top:$space-first;
              font-size: $fz24;
              color: $text-color-title;
              text-shadow: 0 0 10px rgba(0, 0, 0, 0.7)
            }
            .slider-action-button {
              background-color: rgb(244, 97, 1);
              padding: 16px 30px;
              line-height: 1.2;
              font-size: $fz16;
              height: auto;
              border-radius: 5px;
            }
            .slider-action-button:hover:before {
              opacity:1;
            }
            .slider-action-button:before {
              content: '';
              opacity: 0;
              background-color: rgba(254, 148, 77, 0.6);
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              transition: opacity .2s;
              z-index: -1;
            }
          }
          img {
            width: calc(100% + 100px);
            height: calc(100% + 100px);
            margin-top: -100px;
            transform: translate(0px, var(--y));
          }
        }
      }
    }

    &--about-us {
      img {
        width: 100%;
        margin-bottom: 10px;
      }
      h2,h3 {
        color: $text-color-third;
      }
      h3 {
        @include breakpoint(medium) {
          min-height: 56px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      h4 {
        margin-bottom: 20px;
      }
      p {
        font-size: $fz16;
        line-height: 1.5;
      }
      .about-us-text {
        .col {
          max-width: 360px;
          float: none;
          margin:$space-second auto;
          @include breakpoint(medium) {
            max-width: 50%;
            margin: 0;
            float: left;
          }
          @include breakpoint(large) {
            max-width: 100%;
            padding: 0 1.75rem;
          }
        }
      }
      .about-us-title {
        h2 {
          margin: 0;
          line-height: 1.5;
        }
        h3 {
          font-size: $fz18;
          color: $title-grey;
          line-height: 1.5;
          max-width:730px;
          margin-left: auto;
          margin-right: auto;
          position: relative;
          padding-bottom: $space-second;
          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 40px;
            height: 2px;
            background: $bg-block;

          }
          @include breakpoint(medium) {
            font-size:$fz20;
          }
        }
      }
      .row {
        .about-us-video {

        }
        .about-us-text {
          font-size: 3vmin;
        }
      }
    }

    &--recognitions {
      background-color: $bg-block;
      img {
        max-width: 100%;
      }
      h2 {
        color: $text-color-title;
      }
      .recognitions-logo {
        @include flexBox;
        @include flex-wrap();
        @include flex-horizontal-align();
        @include flex-vertical-align();
        a{
          padding: 10px;
          width: 100%;
          text-align: center;
          margin-bottom: $space-second;
          @include breakpoint(medium) {
            width: auto;
            max-width: 25%;
            margin-bottom: 0;
          }
        }
        .col {
          margin-top: $space-first;
        }
      }

    }

    &--how-it-works {
      background-color: white;
      .row {
        margin-left: -0.75rem;
        margin-right: -0.75rem;
        &--tabs {
          li {
            margin-bottom: 0;
          }
          .tabs {
            margin-bottom: 50px;

            .tab {
              a {
                color: grey;
              }
              a.active {
                color: black;
              }
            }
          }
          .hiw-tab {
            background-color: white;
            .hiw-block {
              padding: 1% 3% 1% 3%;
              display: flex;
              .left-section {
                padding-right: 3%;
                width: 30%;
                display: flex;
                flex-direction: column;
                .icon {
                  text-align: right;
                  img {
                    max-width: 100%;
                    max-height: 100%;
                  }
                }
              }
              .right-section {
                padding-left: 3%;
                width: 70%;
                display: flex;
                flex-direction: column;
                .top-part {
                  font-size: 3rem;
                  line-height: 2.5rem;
                  color: black;
                  font-weight: 600;
                }
                .bottom-part {
                  margin-top: 5%;
                  font-size: 1.5rem;
                }
              }
              &--button {
                display: flex;
                flex-direction: column;
                padding: 1%;
                .top-part {
                  //border: 1px solid blue;
                  font-size: 3rem;
                  line-height: 2.5rem;
                }
                .bottom-part {
                  margin-top: 5%;
                  position: relative;
                  button {
                    color: $border-color-second;
                    background-color: white;
                    border: 2px solid $border-color-second;
                    border-radius: 5px;
                    font-size: $fz20;
                    height: auto;
                    line-height: 1.2;
                    width: 100%;
                    padding: 6px;
                  }
                  button:hover {
                    color: white;
                  }
                  button:hover:before {
                    opacity:1;
                  }

                  button:before {
                    content: '';
                    opacity: 0;
                    background-color: rgba(38, 38, 38, 0.8);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    transition: opacity .2s;
                    z-index: -1;
                  }
                }
              }
            }
          }
        }
      }

    }

    .tabs {
      white-space: normal;
      height: auto;
      padding-bottom: 15px;
      display: block;
      @include breakpoint(medium) {
        display: flex;
      }
      .indicator {
        background-color: $border-color-second;
      }
      .tab {
        height: auto;
        line-height: 1.3;
        padding: 0;
        display: block;
        margin-bottom: $space-fourth;
        @include breakpoint(medium) {
          display: inline-block;
          margin-bottom: 0;
        }
      }
    }

    &--faq {
      background-color: white;
      .row {
        &--tabs {
          .tabs {
            .tab {
              a {
                color: grey;
                overflow: visible;
              }
              a.active {
                color: black;
              }
            }
          }
          .faq-tab {
            background-color: white;
          }
        }
        &--tab-content {
          .faq-tab {
            li {
              font-size: 1.5rem;
              .collapsible-header {
                line-height: 3rem;
                padding: 1rem;
                color: black;
              }
              .collapsible-body {
                .faq-emphasis {
                  font-style: italic;
                  font-weight: bold;
                }
                .faq-emphasis-only-bold {
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
      p {
        font-size: $fz15;
      }

    }

    &--blog-stories {
      background-color: $bg-block;
      h2 {
        color: $text-color-title;
        @include breakpoint(medium) {
          font-size: $fz44;
          line-height: 1.2;
        }
      }
      h3 {
        margin: 0;
        color: $text-color-title;
        a {
          color: inherit;
        }
        @include breakpoint(medium) {
          font-size: $fz24;
          line-height: 1.2;
        }
      }
      a,h3 {
        font-size: $fz16;
        @include breakpoint(xlarge) {
          font-size: $fz20;
        }
      }
      .title {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: $bg-title;
        padding: $space-third;
        span {
          display: block;
        }
      }
      .row {
        img {
          max-width: 100%;
        }
        &--blog-stories {
          h3 {
            line-height: 1.2;
          }
          .box {
            position: relative;
            background-size: cover;
            background-position: center 0;
            img {
              display: block;
              width: 100%;
            }
          }
          .date-published {
            color: #B3B3B3;
            font-style: italic;
            font-size: 1.5rem;
          }

          a {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
          }
        }
      }
      .layout1 {
        .box {
          margin-bottom: $space-fifth;
          height: 470px;
        }
      }
      .layout2 {
        .box {
          margin-bottom: $space-fifth;
          height: 350px;
          @include breakpoint(medium) {
            height: 500px;
          }
          @include breakpoint(large) {
            height: 600px;
          }
        }
        .box2 {
          .box {
            margin-bottom: $space-fifth;
            height: 350px;
            @include breakpoint(large) {
              height: 465px;
            }
          }
        }

      }
      .layout3 {
        .box {
          margin-bottom: $space-fifth;
          height: 280px;
        }
      }

      .layout4 {
        .box {
          margin-bottom: $space-fifth;
          height: 350px;
          @include breakpoint(medium) {
            height: 720px;
          }
        }
      }
    }

    &--testimonials {
      padding: 0;
      h2 {
        color: $text-color-title;
      }
      .parallax-container {
        height: 1000px;
        @include breakpoint(medium) {
          height: 800px;
        }
        @include breakpoint(xlarge) {
          height: 750px;
        }
        z-index: 10;
        .parallax {
          &:after {
            content:'';
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(#202020,0.2);
            top: 0;
            left: 0;
          }
          .container {
            position: relative;
            z-index: 2;
            .row {
              margin-top: 3rem;
              @include breakpoint(xlarge) {
                margin-top: 5rem;
              }
              &--title {
                //position: relative;
                color: white;
                text-align: center;
                h2 {
                  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
                }
              }
              &--testimonials {
                @include flexBox;
                @include flex-wrap();
                @include flex-horizontal-align();
                .testimonial {
                  width: 100%;
                  margin-bottom: $space-second;
                  font-size: $fz16;
                  background-color: rgba(white,0.8);
                  color: $text-color-third;
                  line-height: 1.2;
                  position: relative;
                  @include breakpoint(xlarge) {
                    display: flex;
                    flex-direction: column;
                    width: 32%;
                    font-size: 2rem;
                    &:after {
                      content: '';
                      position: absolute;
                      left: 0;
                      bottom: -50px;
                      width: 0;
                      height: 0;
                      border-top: 50px solid rgba(white,0.8);
                      border-right: 50px solid transparent;
                    }
                  }
                  .top-part {
                    padding: 1rem;
                    @include breakpoint(xlarge) {
                      display: flex;
                      padding: 4.5rem 2rem 0;
                    }
                    .quote-icon {
                      width: 20%;
                      text-align: right;
                    }
                  }
                  .bottom-part {
                    padding: 1rem;
                    margin-top: auto;
                    @include breakpoint(xlarge) {
                      display: flex;
                      padding: 0 2rem 2rem;
                    }
                  }
                  .quote-bottom,
                  .quote-top {
                    color: #282828;
                    font-size: $fz24;
                    @include breakpoint(xlarge) {
                      font-size: 7.5rem;
                    }
                  }
                  .quote-top {
                    float: left;
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                    @include breakpoint(xlarge) {
                      margin-top: -30px;
                    }
                  }
                  .quote-bottom {
                    float: right;
                  }
                }
              }
            }
          }
        }
      }
    }

    &--get-started {
      background-color: $secondary-background-color;
      &.box-grey {
        background-color: $bg-block-third;
      }
      .container {
        .row {
          &--title {
            position: relative;
            text-align: center;
            color: $text-color-third;
            font-size: $fz44;
          }
          &--buttons {
            position: relative;
            text-align: center;
            font-size: $fz18;
            color: $text-color-third;
            span {
              font-size: $fz24;
              line-height: 1.2;
              margin: 0 $space-third;
            }
            button {
              font-size: $fz18;
              height: auto;
              display: block;
              width: 100%;
              margin: $space-third 0;
              @include breakpoint(medium) {
                display: inline-block;
                width: auto;
              }
              @include breakpoint(large) {
                min-width: 280px;
              }
            }
            .button-sign-up {
              background-color: $bg-btn;
            }
            .button-sign-up:hover:before {
              opacity:1;
            }
            .button-sign-up:before {
              content: '';
              opacity: 0;
              background-color: rgba(254, 148, 77, 0.6);
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              transition: opacity .2s;
              z-index: -1;
            }
            .button-log-in {
              color: white;
              background-color: $bg-btn-second;
            }
            .button-log-in:hover {
              color: white;
            }
            .button-log-in:hover:before {
              opacity:1;
            }
            .button-log-in:before {
              content: '';
              opacity: 0;
              background-color: rgba(38, 38, 38, 0.8);
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              transition: opacity .2s;
              z-index: -1;
            }
          }
        }
      }
    }
  }
  h2 {
    color: $text-color-third;
    @include breakpoint(medium) {
      font-size: $fz44;
      line-height: 1.2;
    }
  }
  h3 {
    @include breakpoint(medium) {
      font-size: $fz24;
      line-height: 1.2;
    }
  }
  h4 {
    @include breakpoint(medium) {
      font-size: $fz18;
      line-height: 1.2;
    }
  }
}

.home-page-footer {
  padding-top: 2rem;
  margin-top: 10px;
  .star {
    margin-top: 0px;
  }
  .btn-grey {
    background-color: $esqalate-grey;
    &:hover {
      background-color: darken($esqalate-grey, 8%);
    }
  }
  .address {
    line-height: 1.2;
    padding: 5px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
  }
  .location {
    font-size: $fz30;
    color: $text-color-fourth;
  }
  .row--upper-footer {
    margin-bottom: $space-first;
    .btn-large {
      margin-top: auto;
    }
    .col {
      @include breakpoint(large) {
        max-width: 215px;
      }
      margin: 0;
      display: flex;
      flex-direction: column;
    }
    .container {
      @include flexBox;
      @include flex-wrap();
      @include flex-horizontal-align();
      &-lowbo {
        justify-content: center;
        .col {
          text-align: center;
        }
      }
    }
  }
  .row--under-footer {
    .l3 {
      @include breakpoint(large) {
        max-width: 215px;
      }
    }
    .l9 {
      @include breakpoint(large) {
        max-width: 925px;
      }
    }
    .col {
      margin: 0;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  .footer-logo {
    max-width: 100px;
  }
  .row {
    &--upper-footer {
      .col {
        text-align: center;
        margin-bottom: $space-third;
        &:nth-child(odd) {
          clear: left;
        }
        @include breakpoint(large){
          text-align: left;
          margin-bottom: 0;
          &.center-align {
            text-align: center;
          }
          &:nth-child(odd) {
            clear: none;
          }

        }
      }
      .connect {
        .contact-email {
        }
        img {
          width: 3rem;
        }
        img:hover {
          opacity: 0.7;
        }
      }
    }
    &--sub-footer {
      background-color: rgba(0, 0, 0, 0.1);
      line-height: 5rem;
      height: 5rem;
      margin: 0;
    }
  }
  .operated-by {
    a {
      font-size: $fz18;
      text-transform: none;
      width: 100%;
    }
    h4 {
      span {

      }
    }
  }
  h4 {
    font-size: $fz18;
  }
  p {
    margin-bottom: 0;
  }
  i {
    display: inline-block;
    vertical-align: top;
    margin-top: -2px;
    margin-right: 5px;
  }
  .orange-span {
    span {
      color: $text-color-fourth;
    }
  }

  .social-links {
    display: flex;
    align-items: center;
    line-height: 1;
    justify-content: center;
    a {

      margin: 0 10px;
    }
  }
  .contact-email {
    margin-bottom: 10px;
  }
  .slider-action-button {
    font-size: $fz18;
    background-color: $bg-btn-fifth;
    &:hover {
      background-color: darken($bg-btn-fifth, 8%);
    }
  }
}